
html {
  min-height: 100%;
  background-color: #fff;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed
}
body {
  background-color: initial;
}

html,
body,
.wrapper,
.content-wrapper{
  height: 100%;

}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  .main-header{ /* to completed */ }

  .main-nav{
    margin: 0;
  }

  .main-footer{
    text-align: center;
  }
}
